.header_text {
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  text-align: center;
}
/* .container {
  width: 1180px;
  margin-inline: 100px;
} */
.top_header {
  background-color: aqua;
  background-image: url("/public/assets/asset\ 30.svg");
  padding: 10px;
}

.main_header {
  display: flex;
  text-align: center;
}
.ul_class {
  display: flex;
  text-align: center;
  justify-content: end;
}
.ul_div {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.image_div {
  margin-top: 10px;
}

.image_div img {
  height: 60px;
  width: 230px;
}
li {
  list-style: none;
}
li:hover{
    color: green;
}

.li_class {
  margin-right: 20px;
}
/* first section with image and content*/
.first_section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap_content{
  flex-wrap: wrap;
  width: 50%;
  flex-wrap: wrap;

}
.left_section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.button_div{
  display: flex;
  align-items: center;

}
.button_wrapper{
 
  padding: 20px;
  width:200px; 
  background-color: skyblue;
  color: white;
  cursor: pointer;
}

.image_section{
  flex: 1;
}
.image_section img{
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) { 
  .first_section {
    flex-direction: column; 
  }

  .left_section, .image_section {
    width: 100%; 
  }
}
/* company logos  */
.company_wrapper{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.company_wrapper img{
  width: 200px;
  height:50px;
  margin-left: 10px;

}

.features_heading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature_button_div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.features_button{
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  color: rgb(3, 3, 70);
}

.features_button:hover{
  background-color: rgb(3, 3, 70);
  color: white;
}

